body{
   background-color: rgb(7, 197, 188)
}

#defaultCanvas0 {
   margin-left:630px;
}
#winter{
   padding:10px ;
   margin-left:560px;
   background-color:rgb(59, 59, 255)
}
#summer{
   padding:10px ;
   margin-left:0px;
   background-color:rgb(255, 8, 8)

}